@import 'http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Alegreya:700';

h1 {
    font-family: 'Alegreya', serif;
    font-weight: 700;
    line-height: 46px;
    font-size: 150px;
    margin: 0 0 43px 0;
    }
h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    font-size: 21px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 23px 0;
    }
p {
    font-family: 'Roboto', sans-serif;
	font-weight: bold;
    font-size: 15px;
    line-height: 23px;
    margin-top: -20px;
    display:inline-block;
    }

#main {
    height: 800px;
	position: fixed;
	top: 20%;
	left: 25%;
    padding:40px;
}
i {
    display:inline-block;
}

#sub {
    margin-top: -12px;
}